@use 'sass:map';
@use '@angular/material' as mat;

@include mat.core();

$colors: (
  "primary":#063b88,
  "error":#FF3030,
  "success":#28B411,
  chips:(
    backgrounds:(
      role:(
        "admin":rgba(255, 104, 103, 0.1),
        "service-etranger":rgba(0, 204, 123, 0.1),
        "agent":rgba(45, 91, 255, 0.1),
      ),
      ava:(
        "pending":rgba(241, 174, 0, 0.1),
        "accepted":rgba(0, 204, 123, 0.1),
        "rejected":rgba(255, 104, 103, 0.1),
      ),
    ),
    text:(
      role:(
        "admin":rgb(255, 104, 103),
        "service-etranger":rgba(0, 204, 123, 1),
        "agent":rgb(45, 91, 255),
      ),
      ava:(
        "pending":rgb(241, 174, 0),
        "accepted":rgba(0, 204, 123, 1),
        "rejected":rgb(255, 104, 103),
      ),
    ),
  ),
  button:(
    "focused":#E5F1FF,
    "hover": rgba(129, 129, 129, 0.5),
  ),
  input : (
    "placeholder":#F1F1F1,
    "border":#C8CCCF,
  ),
  icons:(
    "color":#A4B4CB,
  ),
  "text":#2A2A21,
  "line":#E8ECF5,
  "secondary":#4B506D,
  "third": #F7F7F9,
  "fourth":#C5C7CD,
  "background":#F3F4F6,
);

$fonts: (
  "poppins-semi-bold" : (Poppins, sans-serif, 800),
  "poppins-medium" : (Poppins, sans-serif)
);

$bright-navy-blue-palette: (
  50: #e3f2fd,
  100: #badffb,
  200: #8fcbfa,
  300: #61b7f7,
  400: #3ca7f6,
  500: #0c98f5,
  600: #078ae7,
  700: #0078d4,
  800: #0067c2,
  900: #063b88,
  A100: #c2e4ff,
  A200: #addcff,
  A400: #1f9eff,
  A700: #00518f,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: rgba(black, 0.87),
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: rgba(black, 0.87),
    A200: rgba(black, 0.87),
    A400: white,
    A700: white,
  )
);
